/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;500;600;700&display=swap');


/* Tailwind base */
@import "tailwindcss";

/* Theme tokens */
@theme {
  --color-debug: #ff00ff;

  /* Default sans */
  --font-sans: "Inter", sans-serif;

  /* Extra sans family */
  --font-roboto: "Roboto", sans-serif;

  /* Serif + mono */
  --font-mono: "Inconsolata", monospace;
  --font-lora: "Lora", serif;
  --font-spec: "Spectral", serif;
}


@layer utilities {
  @keyframes gradientMove {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  .animate-gradient {
    background-size: 300% 300%;
    animation: gradientMove 8s ease infinite;
  }
}


:root {
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #E5E5E5;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



